*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: normal normal 400 18px 'Open Sans', Helvetica, "Helvetica Neue", sans-serif;
    /* border:0.5px solid red; */
    text-decoration: none;
    color: black;
}

body{
    background-color: #1f2937;
}

.top-container{
    background-color: #1f2937;
    min-width: 1000px;
}

header{
    width: 80%;
    margin: 0 auto;
}

.top-container div, .top-container a{
    color: #dadce2;
}

header .title{
    color: #f9faf8;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 75px 0;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 500px;
}

.nav-items>a{
 font-size: 18px;
}

.logo{
    font-size: 24px;
}

.header-two{
    margin-top: 100px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.website-details{
    width: 550px;
}

.main-text{
    font-size: 48px;
}

.body-container{
    display: flex;
}

.signup-button{
    margin: 20px 0;
    background-color: #3882f6;
    color: white;
    width: 125px;
    border-radius: 10px;
    padding:5px 0 7px 0;
    border:none;
}

.placeholder-image>img{
    width: 400px;
}

/* MAIN BODY */

.main.body-container{
    height: 500px;
    background-color: white;
}

.middle.main-body{
    width: 100%;
    text-align: center;
}

.main-body-title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 50px auto;
}

.image-cards-list{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.image-cards-list p{
    color:#1f2937;
    padding:10px;
}
.component{
    width:200px;
}

.list-images{
    width: 200px;
    border-radius: 10px;
    border: 4px solid #3882f6;
}

/* Quote Section */

.quote-section{
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-body{
    width: 60%;
}

.quote-content{
font-style: italic;
font-weight: lighter;
font-size: 36px;
color: #1f2937;
}

.quoter{
    font-weight:bold;
    font-size: 24px;
    text-align: right;
}

/* Popup section */

.call-to-action-section{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}


.call-to-action-box{
    width: 1000px;
    height: 150px;
    border-radius: 7px;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.popup.content{
    color: white;
}

.popup-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.popup.content.title{
    font-size: 24px;
    font-weight: 700;
}

.popup.content.text{
    font-size: 18px;
    color: #e5e7eb;
}

.button-container{
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

.popup.signup-button{
    font-weight: 600;
    border-radius: 6px;
    font-size: 18px;
    border: 2px solid white;
    /* padding: 4px 100px; */
    padding-top: 4px;
    width: 125px;
}


/* footer */
.footer-container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: white;
}